body{
	background-color: #232323;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.square{
	width: 30%;
	background-color: #949fff;
	padding-top: 15%;
	float:  left;
	margin: 1.66%;
	border-radius: 15%;
	text-align: center;
	font-weight: 700;
	font-size: 4rem;
	color: #232323;
	-webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
}

.fourString {
    width: 44%;
    background-color: #949fff;
    padding-top: 20%;
    float: left;
    margin: 3%;
    border-radius: 15%;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #232323;
}

#note_4.fourString{
	display: none;
}
#note_5.fourString{
	display: none;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}

h1{
	text-align: center;
	color: white;
	background-color: steelblue;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	line-height: 1.1;
	padding: 20px 0 10px 0;
}

#instrument-select{
	border-color: black;
	margin: 0px 0px 10px 10px;
	padding: 2px;
	width: 175px;
	font-weight: 700;
	border: transparent;
	color: #232323;
	cursor: pointer;	
}

#instrument{
	max-width: 100%;
	text-align: center;
	background-color: steelblue;
	color: white;
	font-size: 1.25em;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

#message{
	display: inline-block;
	width: 15%;
}

#streak{
	float: center;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1.0px;
	font-size: inherit;
	transition: all 0.4s;
}

button:hover{
	color: white;
	background-color: steelblue;
}

.difficulty{
	color: white;
	background-color: steelblue;
}