body{
	background-color: #232323;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

/* main blue header section */
.header{
	background-color: steelblue;
	text-align: center;
	color: white;
}

h1{
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	line-height: 1.1;
	padding: 20px 0 10px 0;
}

#instrument-select{
	margin: 0px 0px 10px 10px;
	padding: 2px;
	width: 175px;
	font-weight: 700;
	border: transparent;
	color: #232323;
	cursor: pointer;	
}

#instrument{
	font-size: 1.25em;
}

/* Practice Mode label and slider */
.practice {
    font-size: 1.25em;
    padding: 0px 0px 10px 0px;
}

.slider{
	position: relative;
	display: inline-block;
	width: 2em;
	height: 1em;
}
  
.slider input {
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle {
	position: absolute;
	cursor: pointer;
	top: 3px;
	left: 0;
	right: 0;
	bottom: -3px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 1em;
}
  
.toggle:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0em;
    background-color: white;
    -webkit-transition: .4s;
	transition: .4s;
	border-radius: inherit;
}
  
input:checked + .toggle {
	background-color: rgba(0, 0, 0, 0.5);
}
   
input:checked + .toggle:before {
	-webkit-transform: translateX(1em);
	-ms-transform: translateX(1em);
	transform: translateX(1em);
}

/* White bar with play commands and feedback */
#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

#message{
	display: inline-block;
	width: 15%;
}

#streak{
	float: center;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1.0px;
	font-size: inherit;
	transition: all 0.4s;
}

button:hover{
	color: white;
	background-color: steelblue;
}

.difficulty{
	color: white;
	background-color: steelblue;
}

/* squares display and animations */
.square{
	width: 30%;
	background-color: #949fff;
	padding-top: 15%;
	float:  left;
	margin: 1.66%;
	border-radius: 15%;
	text-align: center;
	font-weight: 700;
	font-size: 4rem;
	color: #232323;
	-webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
}

.fourString {
    width: 44%;
    padding-top: 20%;
    margin: 3%;
}

#note_4.fourString{
	display: none;
}
#note_5.fourString{
	display: none;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}

/* Help modal */
.trigger{
	float: right;
	color: black;
}	

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 38rem;
	border-radius: 0.5rem;
}

.modal-content h2{
	text-align: center;
	font-weight: 900;
}

.modal-content ul{
	background-color: seagreen;
	color: rgb(1, 39, 18);
	color: rgb(0, 31, 14);
	line-height: 1.5;
	font-size: 1.2em;
}

.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
	margin: 10px;
}

.close-button:hover {
	background-color: darkgray;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}